:root {
  --background: #faf6f1;
  --surface: #f1e8dc;

  --text-primary: #2b211c;
  --text-secondary: #6f655d;

  --gold: #b08a5a;
  --gold-light: #d7be98;

  --border: #ddd0c0;

  --footer: #2f241d;

  --white: #ffffff;
}
